* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

:root {
      --primary-color: #F53E2D;
      --white-color: #fff;
      --black-color: #000;
      --text-color: #333;
      --border-color: #dbdbdb;
      --header-height: 120px;
      --nav-height: 34px;
      --header-with-search-height: calc(var(--header-height) - var(--nav-height));
      --header-sort-bar-height: 46px;
}

html {
      font-size: 62.5%;
      line-height: 1.68rem;
      font-family: Helvetica, Arial, sans-serif;
}

body {
      font-size: 1.4rem;
      scroll-behavior: smooth;
}

/*  ? Common */

.text-white {
      color: #fff;
}

.active {
      color: var(--primary-color) !important;
}

.pt-40 {
      padding-top: 40px;
}

.mt-10 {
      margin-top: 10px;
}

.mt-36 {
      margin-top: 36px;
}

.ml-mr-32 {
      margin-left: 32px;
      margin-right: 32px;
}

.ml-mr-22 {
      margin-left: 22px;
      margin-right: 22px;
}

.pull-right {
      text-align: right;
}

.btn {
      min-width: 142px;
      height: 34px;
      cursor: pointer;
      outline: none;
      border: 1px solid var(--border-color);
      text-decoration: none;
      border-radius: 2px;
}

.btn--size-s {
      min-width: 142px;
      height: 32px;
      outline: none;
      cursor: pointer;
      font-size: 1.2rem;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      border: 1px solid var(--border-color);
}

.btn.btn-primary {
      color: var(--white-color);
      background-color: var(--primary-color);
}

/*  ? -------------- */

@keyframes fadeIn {
      from {
            opacity: 0;
      }

      to {
            opacity: 1;
      }
}

@keyframes HeaderNotifyGrowth {
      from {
            opacity: 0;
            transform: scale(0);
      }

      to {
            opacity: 1;
            transform: scale(1);
      }
}

/* *----Border Separate */
.nav-list__item--separate::after {
      content: "";
      display: block;
      height: 14px;
      position: absolute;
      top: 50%;
      right: 0;
      border: 1px solid #f76959;
      transform: translateY(-50%);
}

.nav-list__item .nav__notify::before {
      content: "";
      top: -24px;
      right: 26px;
      display: block;
      position: absolute;
      border-style: solid;
      border-width: 15px 20px;
      border-color: transparent transparent #fff transparent;
}

.nav-list__item .nav__notify::after {
      content: "";
      position: absolute;
      display: block;
      width: 30%;
      height: 40px;
      background-color: transparent;
      top: -15px;
      right: 0;
}

